.indicator-container {
  padding: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  
}
.indicator-container h2 {
  text-align: rigth;
}

.line-chart-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.bar-chart-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.pie-chart-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 400px) {
  .pie-chart-container {
    display: flex;
    flex-wrap: wrap;
  }

  .indicator-container {
    padding-left: 0;
    padding-right: 0;
    max-width: 375px ;
  }

  .indicator-container h2 {
    text-align: center;
  }
}
